*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root{
  --colorMain: #bc8b8b;
  --colorSearched: #fff;
  --colorShadow: 1.5px 1.5px 3px #000;
  --colorShadow2: 5px 5px 5px 1px #000;
} 

#main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--colorMain);

  min-height: 100vh;
}

header{
  position: absolute;
  top: 5px;
  width: 35em;
border-radius: 20px;
  z-index: 2;
}

#main_search{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 4rem;

  padding: 14px 0 14px 0;
  background: var(--colorSearched);
  box-shadow: var(--colorShadow);
}

#main_search label{
  margin: 0 0.5em 0 0;

  color: #6f6e70;
  background: rgb(183,183,183);
  background: linear-gradient(90deg, rgba(183,183,183,1) 0%, rgba(213,213,215,1) 35%, rgba(252,252,252,1) 100%);

  padding: 5px 6px 3px 5px;
  text-align: center;

  border-radius: 50%;
  box-shadow: var(--colorShadow);
}

#main_search input{
  min-width: 15em;
  padding: 5px 0 3px 10px;
  margin: 0 0.5em 0 0;

  color: #6f6e70;
  background: rgb(183,183,183);
  background: linear-gradient(90deg, rgba(183,183,183,1) 0%, rgba(213,213,215,1) 35%, rgba(252,252,252,1) 100%);

  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: var(--colorShadow);
}

#search_select{

  padding: 3px 3px 3px 3px;
  margin: 0 0.5em 0 0;

  background: rgb(183,183,183);
  background: linear-gradient(90deg, rgba(183,183,183,1) 0%, rgba(213,213,215,1) 35%, rgba(252,252,252,1) 100%);

  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: var(--colorShadow);
}

#search_select option{
  color: #000;
  font-weight: bold;
}

#main_search button{
  margin: 0 0.5em 0 0;
  padding: 5px 6px 3px 5px;

  color: #6f6e70;
  background: rgb(183,183,183);
  background: linear-gradient(90deg, rgba(183,183,183,1) 0%, rgba(213,213,215,1) 35%, rgba(252,252,252,1) 100%);

  text-align: center;
  border-radius: 50%;
  box-shadow: var(--colorShadow);
}

#main_search button:hover{
  cursor: pointer;
}

#main_search button:nth-child(2){
  margin: 0 0.5em 0 0.5em;
}

#main_books{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top:10em;
  margin-bottom: 2em;

  z-index: 1;
}