.book{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0.5em 1.15em 0 1.15em;
  height: 26em;
  width: 17em;
  padding: 8px;

  background: #81614ad6;

  border-radius: 10px;
  border: 7px solid  #413227;
  box-shadow: 
  3px -0.25px 1px #fff,
  5px -0.50px 1px #000,
  9px -0.75px 1px #fff,
  11px -1px 1px #000,
  15px -1.25px 1px #fff,
  20px -1.75px 1px #281b10;

  transition: 0.6s;
  transform: scale(0.89);
}

.book:hover{
    rotate: 0.25deg;
}

.image_bookc{
    margin-bottom: 0.25rem;
    padding: 10px;

    width: 9.5em;
    height: 11.5em;

    background: rgb(183,183,183);
    background: linear-gradient(90deg, rgba(183,183,183,1) 0%, rgba(213,213,215,1) 35%, rgba(252,252,252,1) 100%);

    border-radius: 10%;
    /*border-radius: 50%;*/
    box-shadow: var(--colorShadow);
}

.book section{
  display: flex;
  flex-direction: column;

  background: #281b10;
  color: #865012;
    
  padding: 5px 0 5px 8px;
  border-radius: 10px;
  border: 2px solid  #000;
}

.tittle{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.25em;
    width: 8.65em;

    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.publish{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.25em;
    width: 10em;

    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.author{
    display: flex;
    flex-wrap: wrap;
    width: 10em;

    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.button_add{
    position: absolute;
    top: 3px;
    right: 5px;

    width: fit-content;
    height: 1em;

    color: #865012;
    background: #efe1ac;

    font-size: 30px;

    border-radius: 100%;
    box-shadow: var(--colorShadow);
    transition: 0.6s;
}

.button_add:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.inithial{
    width: fit-content;

    color: rgb(183,183,183);
    color: linear-gradient(90deg, rgba(183,183,183,1) 0%, rgba(213,213,215,1) 35%, rgba(252,252,252,1) 100%);
    text-shadow: var(--colorShadow);

    font-family: 'Algerian';
    font-size: 14px;
}